@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--serif: "Noto Serif", serif;
	--sans-serif: "Poppins", sans-serif;
	--monospace: "JetBrains Mono", monospace;

	--foreground: #ffffff;
	--accent-fg: #ffff85;
	--accent-bg: #362700;
	--background: #110;

	--animation-time: calc(1s / 8);
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--sans-serif);
	margin: 0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	background-color: var(--accent-bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header > * {
	padding: 0.5em;
	gap: 1em;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	text-transform: uppercase;
}

.page {
	display: flex;
	flex-direction: column;
}

a {
	color: var(--accent-fg);
}

.button {
	background-color: var(--accent-fg);
	color: var(--accent-bg);
	text-decoration: none;
	padding-block: 0.5em;
	padding-inline: 1em;
	box-shadow: inset 0px 0px -0.5em #000;
	border: 0px;
	transition:
		box-shadow var(--animation-time),
		background-color var(--animation-time),
		color var(--animation-time);
	cursor: pointer;
}

.button:hover {
	background-color: var(--accent-bg);
	color: var(--accent-fg);
	box-shadow: inset 0px 0px 0.5em #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--monospace);
}

code,
pre {
	font-family: var(--monospace);
	background-color: var(--background);
	border: 1px solid var(--accent-bg);
}

code {
	padding-inline: 0.5em;
	border-radius: 0.5em;
}

pre {
	padding: 1em;
	border-radius: 1em;
}

pre > code {
	border: none;
	padding: 0px;
}

footer {
	display: flex;
	flex-direction: column;
	background-color: var(--accent-bg);
	color: var(--accent-fg);
	font-size: 0.8em;
}

.accent {
	color: var(--accent-fg);
}

.hero {
	height: 720px;
	display: flex;
	justify-content: center;
	gap: 5em;
	align-items: center;
}

.dead-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article,
div.readable {
	margin-inline: auto;
	min-width: 720px;
	width: 50%;
}

blockquote {
	background-color: var(--accent-bg);
	border-left: 3px solid var(--accent-fg);
	margin: 0px;
	padding-inline: 0.5em;
}

.blog-post {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 1em;
	gap: 1em;
	background-color: var(--background);
	color: var(--foreground);
	border: 3px solid var(--accent-bg);
	border-radius: 1em;
	transition: background-color var(--animation-time);
}
.blog-post:hover {
	background-color: var(--accent-bg);
}

.blog-post .readmore {
	padding-inline: 0.5ch;
	background-color: var(--accent-bg);
	color: var(--accent-fg);
	transition:
		background-color var(--animation-time),
		color var(--animation-time);
}
.blog-post:hover .readmore {
	background-color: var(--accent-fg);
	color: var(--accent-bg);
}

.post-title {
	color: var(--accent-fg);
	font-family: var(--monospace);
	font-weight: 500;
	font-size: 1.5em;
}

.post-date {
	font-family: var(--monospace);
	font-weight: 500;
	font-size: 0.8em;
}

.post-excerpt {
	font-size: 0.8em;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

form > div {
	display: flex;
	flex-direction: column;
}

input {
	padding: 0.5em;
	font-family: var(--sans-serif);
	background-color: var(--background);
	color: var(--foreground);
	border: none;
	border-bottom: 1px solid var(--foreground);
}

input:focus {
	outline: none;
	background-color: var(--accent-bg);
	border-bottom: 1px solid var(--accent-fg);
}

textarea {
	height: 10em;
	padding: 0.5em;
	font-family: var(--sans-serif);
	background-color: var(--background);
	color: var(--foreground);
	border: 1px solid var(--accent-bg);
	border-bottom: 1px solid var(--foreground);
	resize: vertical;
}

textarea:focus {
	outline: none;
	background-color: var(--accent-bg);
	border-bottom: 1px solid var(--accent-fg);
}
