<!doctype html>
<html lang="{{ page.lang }}">
	<head>
		<link rel="stylesheet" href="/static/index.css" />
		<title>{{ page.title }} - Aaron Menadue</title>
	</head>
	<body>
		<div class="page">
			<main role="main">
				<div class="dead-center">
					{{ content }}
					<div>
						<a href="/" class="button">{{ site.data.translations['en'].home }} | EN</a>
						<a href="/fr" class="button">{{ site.data.translations['fr'].home }} | FR</a>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
